.cell {
  // transition: 1s;
  &.canClick {
    cursor: pointer;
  }
  position: relative;
  .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
  }
  &:hover {
    .overlay {
      background: rgba(0, 0, 0, .5);
    }
  }
  img, iframe {
    border: 0;
    outline: 0;
    width: inherit;
    height: inherit;
    // object-fit: cover;
  }
  iframe {
    background-color: white;
  }
}