.cell {
  // transition: 1s;
  cursor: pointer;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
  }
  &:hover {
    &:after {
      background: rgba(0, 0, 0, .5);
    }
  }
  img {
    border: 0;
    outline: 0;
    width: inherit;
    height: inherit;
    // object-fit: cover;
  }
}