.add {
  text-align: center;
  margin: 1rem 0;
  font-family: sans-serif;
  h1 {
    margin-bottom: .5rem;
  }
  button {
    cursor: pointer;
    margin: .5rem 0;
    border-radius: .25rem;
    padding: .5rem .75rem;
    border: none;
    outline: none;
    background-color: rgb(0, 110, 255);
    color: white;
    transition: .3s;
    &.inactive {
      background-color: rgb(211, 211, 211);
      pointer-events: none;
    }
  }
  .res {
    margin: .5rem 0;
    color: rgb(252, 35, 20);
    &.success {
      color: rgb(19, 241, 19);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 1rem auto;
    .input-container {
      input {
        width: 100%;
        margin: .5rem 0;
        outline: none;
        border: 1px solid rgb(211, 211, 211);
        border-radius: .25rem;
        padding: .5rem .75rem;
        &.incorrect {
          border-color: rgb(252, 35, 20);
        }
      }
    }

    .action-label {
      margin-top: 1rem;
      margin-bottom: .25rem;
    }
    .action-selection {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      .radio-button {
        margin: 0 .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &_circle {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 1px solid rgb(211, 211, 211);
          padding: .5rem;
          position: relative;
          transition: .3s;
          cursor: pointer;
          &::before {
            content: '';
            position: absolute;
            width: calc(100% - .25rem);
            height: calc(100% - .25rem);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(0, 110, 255);
            opacity: 0;
            transition: .3s;
          }
          &.selected {
            border-color: rgb(0, 110, 255);
            &::before {
              opacity: 1;
            }
          }
        }
        &_text {
          cursor: pointer;
          margin-left: .5rem;
          font-size: 95%;
        }
      }
    }

    .actions {
      margin-bottom: 1rem;
    }
  }
}